@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@500&display=swap");

body{
  font-family: 'IBM Plex Sans KR', sans-serif;
}

/* 전체 네비게이션 바 스타일 */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #222;
  color: #fff;
  padding: 10px;
  z-index: 9999; /* 다른 요소들보다 위에 표시되도록 설정 */
}

/* 로고 스타일 */
.logo {
  margin-right: 40px;
  margin-left: 20px;
}

.logo img {
  height: 45px; /* 로고 크기 줄이기 */
  width: auto;
}

/* 메뉴 스타일 */
.menu {
  display: flex; /* 가로로 배치 */
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu li {
  margin-right: 15px;
}

.menu li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold; /* 메뉴 텍스트 굵게 */
  font-size: 16px; /* 메뉴 텍스트 크기 */
}

/* 검색창 스타일 */
.search-bar {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

.search-form {
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: 20px; /* 검색창 모서리 둥글게 */
  padding: 10px; /* 검색어 입력창 크기 조정 */
}

.search-form input[type="text"] {
  border: none;
  padding: 5px;
  font-size: 14px;
  width: 400px; /* 검색어 입력창 길이 조정 */
}

.search-form button {
  background-color: #222;
  color: #fff;
  border: none;
  padding: 5px 10px;
  font-size: 14px;
  border-radius: 0 30px 30px 0; /* 검색 버튼 모서리 둥글게 */
  cursor: pointer;
}

/* 로그인 버튼 스타일 */
.login-btn {
  background-color: #fff;
  color: #222;
  padding: 8px 15px;
  border-radius: 30px;
  text-decoration: none;
  border: 2px solid #fff;
  transition: background-color 0.3s ease;
  margin-right: 30px; /* 왼쪽으로 위치 조정 */
}

.login-btn:hover {
  background-color: #fff;
  color: #777;
}

/* 추가된 스타일 */
.container {
  margin: 0 20px; /* 네비게이션 바의 좌우 여백 */
}

