@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@500&display=swap");

body {
  font-family: "IBM Plex Sans KR", sans-serif;
  background-color: #e7e7e7;
  padding-top: 50px;
}

#movie-poster {
  width: 250px;
  height: auto;
  border: 1px solid #ddd;
  border-radius: 15px;
}

.ott-image {
  width: 70px;
  margin-left: 10px;
  margin-bottom: 30px;
}

#detail-container {
  background-color: #ffffff;
  display: flex;
  border: 1px solid #ddd;
  border-radius: 15px;
  margin: 0 25%;
  padding: 0 5%;
  min-width: 720px;
}

#detail-container > div:first-child {
  margin-right: 20px;
}

#detail-container:not(:last-child) {
  margin-bottom: 10px;
}

#trailer-container {
  width: 100%;
  height: auto;
}

.container {
  display: flex;
}

.form {
  display: flex;
  flex-direction: column;
  margin-right: 10px;
  margin-bottom: 55px;
}

.comment-form {
  display: flex;
  align-items: center;
}

.comment-form input[type="text"] {
  flex: 1;
  margin-right: 10px;
}

.comment-form button {
  width: 100px;
  height: 50px;
  margin-left: 10px;
}

#username, #password {
  width: 100px;
}

#comment {
  width: 500px;
  height: 60px;
}


