@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@500&display=swap");

.body {
  background-color: #e7e7e7;
  padding-left: 10%;
  padding-right: 10%;
  font-family: 'IBM Plex Sans KR', sans-serif;
}

#movie-info-container {
  background-color: #e7e7e7;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px; /* 요소 간의 간격을 설정 */
}

.movie-info {
  background-color: #ffffff;
  width: 300px;
  border: 1px solid #ddd;
  margin-top: 20px;
  border-radius: 15px;
}

.movie-poster {
  width: 299px;
  height: auto;
  object-fit: cover;
  border: 1px solid #ddd;
  margin-bottom: 10px;
  border-radius: 15px;
}

.poster-container {
  position: relative;
  display: inline-block;
  width: 100%;
}

.overlay {
  position: absolute;
  top: 0px; 
  bottom: -5px; 
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  opacity: 0;
  transition: opacity 0.3s ease;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
  font-family: 'IBM Plex Sans KR', sans-serif;
}

.overlay h2{
  font-size: 30px;
}
.overlay p {
  font-size: 20px;
}

.poster-container:hover .overlay {
  opacity: 1;
  cursor: pointer;
}

.movie-title {
  margin: 0; /* 위아래 여백 제거 */
  padding-left: 10px;
  font-family: 'IBM Plex Sans KR', sans-serif; /* 폰트 적용 */
  overflow: hidden; /* 텍스트 넘침 처리 */
  text-overflow: ellipsis; /* 넘친 텍스트에 대한 마침표 (...) 표시 */
  white-space: nowrap; /* 줄바꿈 방지 */
  font-size: 21px; /* 폰트 크기 조정 */
}